[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
openai = "*"
stripe = "*"
pillow = "*"
numpy = "*"
pandas = "*"
psycopg2-binary = "*"
python-dotenv = "*"
django-cors-headers = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djangorestframework-camel-case = "*"
gunicorn = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"

[requires]
python_version = "3.11"
